name: Clonage et push Workflow
on:
  push:
  pull_request:

jobs:
  surveillance_clonage:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - uses: actions/checkout@v3
      - name: Vérifier que le répertoire courant est vide
        run: |
          if [ "$(ls -A)" ]; then
            echo "Répertoire courant non vide"
            exit 1
          fi
      - name: Renommer le répertoire cloné
        run: |
          if [ -d .git ]; then
            repo_name=$(basename -s .git $GITHUB_REPOSITORY)
            new_dir="$repo_name"_"$GITHUB_ACTOR"
            mv -f . "$new_dir"
            cd "$new_dir"
          fi
      - name: Vérifier le clonage
        run: echo "Le clonage a été effectué avec succès !"

  surveillance_push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - uses: actions/checkout@v3
      - name: Vérifier le push
        run: echo "Le push a été effectué avec succès !"








